---
layout: default
---

	<script type="text/javascript" src="/assets/lib/js-cookie.js"></script>
	<style id="dynamicStyle"></style> <!-- populated with JS -->
	<style>
		#listcontainer > ul > li {
			max-height: initial;
		}

		ul.list li:hover {
			background: inherit;
		}

		ul.list li:active {
			color: inherit;
		}

		ul.list a:hover {
			background: lightgrey;
		}

		ul {
			margin-left: 0;
			padding-left: 0px;
		}

		ul.list li {
			max-height: none;
		}

		span.name {
			user-select: none;
			font-weight: bold;
			font-size: 1.2em;
		}

		ul.encounters > li {
			border-bottom: none;
			margin-bottom: 5px;
		}
		ul.encounters > li > ul > li:last-child {
			border-bottom: none;
		}

		#listcontainer {
			flex: 3;
		}

		#tablecontainer {
			flex: 7;
			display: flex;
			flex-direction: column;
		}

		#statscontainer {
			overflow-y: auto;
		}

		.search-box {
			flex-shrink: 0;
			margin-bottom: 5px;
		}

		#output {
			display: block;
			flex-shrink: 0;
			flex-grow: 0;
		}

		.rolltable {
			display: flex;
		}
	</style>
</head>

<body>
	<div class="viewport-wrapper">
		<header class="hidden-xs hidden-sm">
			<div class="container">
				<h1>Encounter Gen</h1>
				<p>Choose a setting and level range, then scroll down to get your table!</p>
			</div>
		</header>
<nav class="container" id="navigation">
    <ul class="nav nav-pills" id="navbar">
    </ul>
</nav>


		<div class="container view-col-wrapper">
			<div class="view-col" id="listcontainer">
				<div class="input-group search-box">
					<input type="search" id="search" class="search form-control" placeholder="Find location...">
					<span class="input-group-btn">
						<button class="btn btn-default reset" id="reset" type="button">Reset</button>
					</span>
				</div>

				<ul class="list encounters">
					<!-- populate with JS -->
				</ul>
			</div>

			<div class="view-col" id="tablecontainer">
				<div id="output">
					<span><br></span>
					<span><br></span>
					<span><br></span>
					<span><br></span>
					<span><br></span>
				</div>
				<div class="rolltable" id="statscontainer">
					<table id="stats">
						<!-- populate with JS -->
					</table>
				</div>
			</div>
			<p><small>
				Generator script courtesy of <a href="http://5etools.com">5etools.com</a>. d&amp;d.guide has no affiliation with 5etools.
			</small></p>
		</div>
	</div>

<script type="text/javascript" src="/assets/js/utils.js"></script>
<script type="text/javascript" src="/assets/js/entryrender.js"></script>
<script type="text/javascript" src="/assets/js/history.js"></script>
<script type="text/javascript" src="/assets/js/encountergen.js"></script>
<script type="text/javascript" src="/assets/lib/droll.js"></script>
<script type="text/javascript" src="/assets/lib/list.js"></script>
<script type="text/javascript" src="/assets/lib/jquery.js"></script>
<script type="text/javascript" src="/assets/lib/bootstrap.js"></script>
